<h1>Découvrez ma chaine youtube en visitant ces lien :</h1>
<br>
<p>Il s'agit principalement de vidéo fortnite , GTA5 , de réalite virtuelle avec mon casque vr metaquest2 et bien d'autres encore</p>
<br>
<a href="https://www.youtube.com/@frederokiko1/videos">Lien direct vers la chaine</a>
<br>
<table>
    <tr>
      <td><iframe width="400" height="200" src="https://www.youtube.com/embed/lDodDc0_xN8" title="Mes kill , (snipe,Pompe,AR, One Shot) + Top 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
      <td><iframe width="400" height="200" src="https://www.youtube.com/embed/n6wknemlQus" title="J&#39;adore le snipe ,mdr" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
      <td><iframe width="400" height="200" src="https://www.youtube.com/embed/ObM2MUwDeRo" title="Encore une petite compil fortnite" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
      <td><iframe width="400" height="200" src="https://www.youtube.com/embed/TZ0FrH2SF6c" title="On ne rigole pas dans Fortnite , on s&#39;marre" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
    </tr>
    <tr>
      <td>Fortnite 6:48 </td>
      <td>Jeux de snipe elite 0:17</td>
      <td>Fortnite 7:12</td>
      <td>Fortnite 9:45</td>
    </tr>
    <tr>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/WfjUsHXc09k?si=lEEPDSmVSh_Y-k6w" title="Mes kill , (snipe,Pompe,AR, One Shot) + Top 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/NU1TWKMWSd8?si=NXgTqHTKUsUSLE0B" title="J&#39;adore le snipe ,mdr" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/CIsDt9V0b14?si=fVX-oxbSCOapudkU" title="Encore une petite compil fortnite" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/F7I3222uLb4?si=UoYbxY7xNRnaBaBU" title="On ne rigole pas dans Fortnite , on s&#39;marre" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
      </tr>
      <tr>
        <td>Fortnite 6:30</td>
        <td>Fortnite 6:07</td>
        <td>Fortnite 6:53</td>
        <td>Fortnite 6:04</td>
      </tr>
      <tr>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/coIuVOhTJJo?si=FAgriGXwvZ7OOMTl" title="Mes kill , (snipe,Pompe,AR, One Shot) + Top 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/olxzhtbUH2Q?si=3J6JWnhCI9ktemaw" title="J&#39;adore le snipe ,mdr" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/W6HFVuw02qA?si=z7HD_mHrP1ICnZ12" title="YouTube video player" title="Encore une petite compil fortnite" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
        <td><iframe width="400" height="200" src="https://www.youtube.com/embed/nOUOmXvLJEY?si=9HRDf0OnydNF6NRX" title="On ne rigole pas dans Fortnite , on s&#39;marre" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
      </tr>
      <tr>
        <td>Steep 4:31</td>
        <td>Fortnite 7:24</td>
        <td>VR 9:41</td>
        <td>Fortnite évent 4:04</td>
      </tr>
  </table>