<div class="legos-container">
    <div class="intro-section">
      <h1>Ma Passion pour les figurines et le modelisme</h1>
      <p>Depuis mon enfance, je suis passionné par les figurines le modelisme et les exposition de modélisme.</p>
    </div>

    <div class="gallery">
      @for (creation of modelisme; track creation.id) {
        <div class="gallery-item">
          <div class="image-container">
            <img [src]="creation.image" [alt]="creation.title">

          </div>
          <div class="overlay">
            <h3>{{creation.title}}</h3>
            <p>{{creation.description}}</p>
          </div>
        </div>
      }
    </div>
    
  </div>