
<div class="home-container">
    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-content">
        <h1>Bienvenue sur <span class="highlight">Frederokiko</span></h1>
        <p>
          Découvrez ma passion pour le <strong>code informatique</strong>, les <strong>montages vidéo</strong> et mes créations uniques en LEGO.  
          Explorez mes projets, mon univers, et mes réalisations qui reflètent ma créativité et mon expertise.
        </p>
        
      </div>
      <div class="hero-image">
        <img src="assets/images/hero-image.jpg" alt="Illustration passion" />
      </div>
    </div>
  
    <!-- Section Présentation -->
    <div class="presentation">
      <h2>Pourquoi ce site ?</h2>
      <p>
        J'ai créé ce site le 11/01/205 pour partager mes réalisations en <strong>informatique</strong> et ma passion pour les <strong>montages vidéo</strong> et les <strong>LEGO</strong>.  
      </p>
      <p>
        Aussi le <strong>modélisme</strong> et les <strong>figurines</strong> de tout genre .
      </p>
      <br>
      <p>
        Je recherche également un <strong>stage de 6 semaines ou un cdd/cdi</strong>,c'est avec plaisir que mettrait mes compétences à votre disposition.
      </p>
      <br>
      <p>
        Si vous êtes un recruteur, je vous invite à explorer mes projets sur <strong>github</strong> et à me contacter via l'onglet <strong>Contact</strong> .
      </p>
      <p>
        Idem si vous avez des suggestions que je pourrais apporter à ce site : me contacter via l'onglet <strong>Contact</strong> 
      </p>
      <p>🚧 Mis à jour le 13/03/2025 🚧</p>
    </div>
  </div>
  