<!-- <p>sidebar works!</p> -->
<aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/dashboard">- Création de site</a></li>
        <li><a routerLink="/settings">- Ma chaine youtube</a></li>
        <li><a routerLink="/legos">- Mes montages legos</a></li>
        <li><a routerLink="/mirco">- Modélismes, figurines, exposition</a></li>
        <li><a routerLink="/video">- Vidéos</a></li>
        <li><a routerLink="/profile">- Profil</a></li>
        <li><a routerLink="/espace">- La Stargate</a></li>
      </ul>
    </nav>
  </aside>